# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Qdrant
QDRANT_HOST=
QDRANT_PORT=
QDRANT_GRPC_PORT=
QDRANT_COLLECTION=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# LLM API
LLM_API_URL=
LLM_API_KEY=
LLM_MODEL=

# Embedding Model API
EMBEDDING_MODEL_API_URL=
EMBEDDING_MODEL_API_KEY=
EMBEDDING_MODEL=
EMBEDDING_VECTOR_SIZE=

# Mautic API
MAUTIC_API_URL=
MAUTIC_USER=
MAUTIC_PASSWORD=

# Mautic Database
MAUTIC_DB_HOST=
MAUTIC_DB_PORT=
MAUTIC_DB_NAME=
MAUTIC_DB_USER=
MAUTIC_DB_PASSWORD=

API_TIMEOUT_SECONDS=

# Application
LOG_LEVEL=INFO
ENVIRONMENT=development
